<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-categorie-heading" jhiTranslate="gestionStockApp.categorie.home.createOrEditLabel">Create or edit a Categorie</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockApp.categorie.categorieName" for="field_categorieName">Categorie Name</label>
                    <input type="text" class="form-control" name="categorieName" id="field_categorieName"
                           formControlName="categorieName"/>
                    <div *ngIf="editForm.get('categorieName').invalid && (editForm.get('categorieName').dirty || editForm.get('categorieName').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('categorieName').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockApp.categorie.categorieDescription" for="field_categorieDescription">Categorie Description</label>
                    <input type="text" class="form-control" name="categorieDescription" id="field_categorieDescription"
                           formControlName="categorieDescription"/>
                    <div *ngIf="editForm.get('categorieDescription').invalid && (editForm.get('categorieDescription').dirty || editForm.get('categorieDescription').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('categorieDescription').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockApp.categorie.dateCreation" for="field_dateCreation">Date Creation</label>
                    <div class="input-group">
                        <input id="field_dateCreation" type="text" class="form-control" name="dateCreation" ngbDatepicker  #dateCreationDp="ngbDatepicker" formControlName="dateCreation"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateCreationDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('dateCreation').invalid && (editForm.get('dateCreation').dirty || editForm.get('dateCreation').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('dateCreation').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
