<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-achat-heading" jhiTranslate="gestionStockApp.achat.home.createOrEditLabel">Create or edit a Achat</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockApp.achat.achatDate" for="field_achatDate">Achat Date</label>
                    <div class="input-group">
                        <input id="field_achatDate" type="text" class="form-control" name="achatDate" ngbDatepicker  #achatDateDp="ngbDatepicker" formControlName="achatDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="achatDateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('achatDate').invalid && (editForm.get('achatDate').dirty || editForm.get('achatDate').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('achatDate').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockApp.achat.achatDescription" for="field_achatDescription">Achat Description</label>
                    <input type="text" class="form-control" name="achatDescription" id="field_achatDescription"
                           formControlName="achatDescription"/>
                    <div *ngIf="editForm.get('achatDescription').invalid && (editForm.get('achatDescription').dirty || editForm.get('achatDescription').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('achatDescription').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gestionStockApp.achat.achatQuantite" for="field_achatQuantite">Achat Quantite</label>
                    <input type="number" class="form-control" name="achatQuantite" id="field_achatQuantite"
                           formControlName="achatQuantite"/>
                    <div *ngIf="editForm.get('achatQuantite').invalid && (editForm.get('achatQuantite').dirty || editForm.get('achatQuantite').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('achatQuantite').errors.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('achatQuantite')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label jhiTranslate="gestionStockApp.achat.produit" for="field_produits">Produit</label>
                    <select class="form-control" id="field_produits" multiple name="produits" formControlName="produits">
                        <option [ngValue]="getSelected(editForm.get('produits').value, produitOption)" *ngFor="let produitOption of produits; trackBy: trackProduitById">{{produitOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
